<footer>
    <div class="footer">
        <img src="/images/fLogo.png" alt="FloatPlus HK Logo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footerItem">
                        <h3>VENUES</h3>
                        <hr>
                        <a href="#">HK Football Club</a>
                        <a href="#">Aberdeen Yacht Club</a>
                        <a href="#">Australian International School</a>
                        <a href="#">HK Football Club</a>
                        <a href="#">Aberdeen Yacht Club</a>
                        <a href="#">Australian International School</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footerItem">
                        <h3>EVENTS</h3>
                        <hr>
                        <a href="#">News</a>
                        <a href="#">Events</a>
                        <a href="#">Reading</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footerItem">
                        <h3>CONTACT</h3>
                        <hr>
                        <a href="#">Contact us</a>
                        <a href="#">About Us</a>
                        <a href="terms">Terms and Conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>