<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    {% for entry in craft.entries().section('homepage') %}
    <!-- Primary Meta Tags -->
    <title>{{entry.metaTitle}}</title>
    <meta name="title" content="{{entry.metaTitle}}">
    <meta name="description" content="{{entry.metaDescription}}">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{entry.metaSiteUrl}}">
    <meta property="og:title" content="{{entry.metaTitle}}">
    <meta property="og:description" content="{{entry.metaDescription}}">
    <meta property="og:image" content="{{entry.metaImage.one().url()}}">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{entry.metaSiteUrl}}">
    <meta property="twitter:title" content="{{entry.metaTitle}}">
    <meta property="twitter:description" content="{{entry.metaDescription}}">
    <meta property="twitter:image" content="{{entry.metaImage.one().url()}}">
    {% endfor %}
    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- SLICK -->
    <link rel="stylesheet" type="text/css" href="/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css">
    <!-- GLOFOX RESIZE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/3.6.1/iframeResizer.min.js"></script>
    <!-- CSS -->
    <!-- BootStrap -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <!-- NAVBAR -->
    {% include "directives/navbar" %}
    {% block content %}
    {% endblock %}
    <!-- FOOTER -->
    {% include "directives/footer" %}
    <!-- JS -->
    <!-- Boostrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/slick.min.js"></script>
    <script type="text/javascript" src="/js/start.js"></script>
</body>

</html>